/* h3 {
  font-style: italic;
  color: blue;
}
*/

@font-face {
  font-family: montserrat;
  src: URL(css/Montserrat-Medium.otf);
}

html {
  background-image: url("../images/background.gif");
  color:white;
  background-size:100%;
  font-family: "Montserrat", "Arial", "sans-serif";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

main {
  display: flex;
  flex-direction: row;
}

body {
  width:100%;
  margin:auto;
}

h2 {
  text-align:center;

}

img {
  border-radius: 10%;
  max-width: 150px;
}

p {
  line-height:150%;
  text-indent:5px;
  margin:1em;
  margin-top:30px;
}

.even {
  background-color: #5BBDBF;
}

.odd {
  background-color: #FF5850;
}

#beware {
  height:150px;
  float:right;
}

.skill {
  color:gold;
  font-style: italic;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #0088FF;
}

a:hover {
  color:orange;
}

thead {
  background-color:#00AAFF;
}

thead .skill {
  background-color:#640051;
  padding-top: 5px;
}

tbody {
  color:#FF69B4;
}

tbody tr:nth-child(odd)  {
  background-color:white;
}

tbody tr:nth-child(even)  {
  background-color:#CCC;
}

.centre {
  text-align:center;
}

table strong {
  font-size:20px;
}

h3 {
  padding-top:10px;
  border:1px #CCCCCC solid;
}

#chuck-jeune {
  float:left;
  padding-right:4px;
}

#pasflotte {
  clear:left;
  padding-top:5px;
}

#twitter {
  position:fixed;bottom:40px;right:20px;
}

#facebook {
  position:fixed;bottom:3px;right:20px;
}

nav {
  width:75%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: row;
  /*height:200px;
  background-color: #FF00FF;
  */
  align-items: center;
}

nav div {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

nav a {
  display: block;
  width:100px;
  text-align: center;
  background-color: #c0d5c2;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius:4px;
  border:solid 2px black;
}

nav > div:first-child > a {
  border:solid 2px brown ;
}

#audio {
  padding-top:30px;
  padding-bottom:10px;
}

.submenu {
  position:absolute;top:35px;right:0px;
  visibility:hidden;
}

.posdiv {
  position:relative;
}
nav > div > div > div > a {
  background-color: pink;
  color:red;
  margin-top: 5px;
}

.posdiv:hover > .submenu{
  visibility:visible;
}

header {
  display: flex;
}

article {
  width:300px;
  flex-grow: 3;
  flex-shrink: 3;
  /*background-color: #CCC;*/
}

aside {
  width:200px;
  flex-grow: 1;
  flex-shrink: 1;
  /*background-color: #CCC;*/
}

.puce {
  color: yellow;
  font-size:20px;
}

#en_colonne {
  display:flex;
  flex-direction: column;
  width:35%;
}

.fieldset_flex {
  display:flex;
  flex-direction: column;
}

#block {
  display: block;
}

label {
  font-size: 25px;
  color:gold;
}

input,select{
  padding:5px;
  font-size: 15px;
}

#big_text {
  font-size: 17px;
}

#message_id:hover {
  color:red;
}

.burger {
  display:none;
}

@media(max-width:768px) {
  html {
    background-size:auto 100%;
  }

  table {
  display:none;
}
}

@media(max-width:480px) {
  main {
    flex-direction: column;
  }
  nav {
    display: none;
  }
  .burger {
    display: block;
    position:fixed;
    left:85%;
    width:50px;
    margin-right: 20px;
  }

  #menu2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:10%;
    right:5%;
    width:80vw;
    height:100vh;
    z-index: 10000;
    visibility: hidden;
  }

  .burger:hover > #menu2 {
    visibility:visible;
  }

  #menu2 div{
    background: green;
  }
}
