/* h3 {
  font-style: italic;
  color: blue;
}
*/

@font-face {
  font-family: montserrat;
  src: URL(css/Montserrat-Medium.otf);
}

html {
  background-image: url("https://media.giphy.com/media/d2jfPv6CUzpopfLa/giphy.gif");
  color:white;
  background-size:100%;
  font-family: "Montserrat", "Arial", "sans-serif";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


body {
  width:600px;
  margin:50px;
}

h2 {
  text-align:center;

}

img {
  border-radius: 10%;
}

p {
  line-height:150%;
  text-indent:5px;
  margin:1em;
  margin-top:30px;
}

.even {
  background-color: #5BBDBF;
}

.odd {
  background-color: #FF5850;
}

#beware {
  height:150px;
  float:right;
}

.skill {
  color:gold;
  font-style: italic;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #0088FF;
}

a:hover {
  color:orange;
}

thead {
  background-color:#00AAFF;
}

thead .skill {
  background-color:#640051;
  padding-top: 5px;
}

tbody {
  color:#FF69B4;
}

tbody tr:nth-child(odd)  {
  background-color:white;
}

tbody tr:nth-child(even)  {
  background-color:#CCC;
}

.centre {
  text-align:center;
}

table strong {
  font-size:20px;
}

h3 {
  padding-top:10px;
  border:1px #CCCCCC solid;
}

#chuck-jeune {
  float:left;
  padding-right:4px;
}

#pasflotte {
  clear:left;
  padding-top:5px;
}

#twitter {
  position:fixed;bottom:40px;right:20px;
}

#facebook {
  position:fixed;bottom:3px;right:20px;
}

nav {
  width:75%;
  margin-left: auto;
  margin-right: auto;
  height:100px;
}

nav > div {
  background-color:#5BBDBF;
  display:inline;
}

nav a  {
  background-color: #c0d5c2;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border:solid 2px black;
}

#audio {
  padding-top:50px;
  padding-bottom:10px;
}

.submenu {
  position:absolute;top:50px;left:0px;
}

.posdiv {
  position:relative;
}
