[Desktop Entry]
Encoding=UTF-8
Name=Lien vers TD2 – HTML / CSS avancé 1/2
Type=Link
URL=http://romainlebreton.github.io/ProgWeb-HTMLCSS/tutorials/tutorial2
Icon=text-html
